:root {
  --dark-green: #18230f;
  --dark-green: #0b0909;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  color-scheme: dark;
}

body {
  background-color: var(--dark-green);
  max-width: 100vw;
  line-height: 1.5;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #3331;
  z-index: -1;
}

.form-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

form {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: max(320px, 45vw);
  row-gap: 8px;
  padding: 32px;
  background-color: #101010;
  border-radius: 32px;
  

  & button:first-of-type {
    margin-left: auto;
    aspect-ratio: 1;
    font-size: 20px;
    text-align: center;
  }

  & button[type="submit"] {
    background-color: #408175;
    width: 200px;
    border: none;
    padding: 16px;
    border-radius: 16px;
    margin: auto;
  }

  input,
  select,
  textarea {
    padding: 4px;
  }

  select[multiple] {
    height: calc(2rem + 8px);
  }

  textarea {
    resize: vertical;
  }
}

a {
  color: white;
  text-decoration: none;
}

a,
button {
  &:hover {
    opacity: 0.7;
    cursor: pointer;
  }
}

.books {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 8px;
}

.book {
  position: relative;
  img,
  button {
    width: 100%;
    height: auto;
    aspect-ratio: 2 / 3;
  }

  button {
    margin-bottom: 6px;
    border: none;
    background-color: #3335;
    font-size: 2rem;

    &:hover {
      font-size: 3rem;
    }
  }

  & .delete {
    position: absolute;
    top: 8px;
    right: 8px;
    background-color: var(--dark-green);
    font-size: 1.5rem;
    width: 1.75rem;
    height: 1.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    border-radius: 4px;

    &:hover {
      opacity: 1;
      box-shadow:
        #f30000 2px 2px,
        #f30000 -2px -2px,
        #f30000 2px -2px,
        #f30000 -2px 2px;
    }

    &:active {
      background-color: #f30000;
    }
  }
}

main {
  padding: 0 16px 16px 16px;
}

header {
  padding: 16px;
  display: flex;
  gap: 16px;
  align-items: center;

  button {
    border: none;
    background: none;
  }
}

h2,
h3 {
  margin-bottom: 0.5em;
}

ul {
  padding-left: 16px;
}

.pages {
  margin-bottom: 1rem;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.invisible {
  display: none;
}
